* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: rgb(254, 254, 254);
    margin: 0;
    min-height: 100vh;
    padding: 30px;
    
}

.main-container{
    min-height: 100vh;
    width: 100%;
    border: 1px solid;
    border-radius: 20px;
    background-color: rgb(229, 223, 223);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px min-content auto;
    overflow: hidden;
}

.right-side{
    display: grid;
    grid-row: 1/4;
    border-radius: 20px;
    border: 1px solid;
    background-color: rgb(205, 147, 71);
}
.left-side{
    display: grid;
    grid-row: 1/4;
    border-radius: 20px;
    border: 1px solid;
    background-color: chocolate;
}

.search-btn{
    display: grid;
    grid-row:1;
    background-color: cornflowerblue;
    border-radius: 20px 20px 0 0;
    justify-content: center;
    align-items: center;
}
input{
    height: 50px;
    width: 600px;
    border-radius: 35px;
}
.img-box{
    flex-shrink: 0;
    display: grid;
    grid-row: 2;
    grid-template-columns: 1fr 1fr ;
    background-color: aquamarine;
}
.img{
    flex-shrink: 0;
    background-color: darkslategrey;
    margin: 30px;
}
.img-r{
    display: grid;
    grid-column: 2;
    background-color: darkslategrey;
    margin: 30px; 
}
.features{
    display: grid;
    flex-grow: 1;
    width: 100%;
    overflow-y: auto;
    grid-row: 3;
    gap: 10px;
    border-radius: 0 0 20px 20px;
    background-color: cadetblue;
}
